*{border: none; box-sizing: border-box; margin: 0; padding: 0;}

.main{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 217, 217);
    color: rgb(211, 30, 30)
}
.inteiro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-description{
    display: block;
    text-align: center;
    color: white;
    background-color: rgb(211, 30, 30);
}

header, footer{
    height: 10vh;
    width: 100vw;
    background-color: rgb(211, 30, 30)
}
input{
    color: rgb(211, 30, 30);
}
.btn{
    background-color: rgb(211, 30, 30);
}