@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --custom-primary: rgb(211, 30, 30);
    --custom-secondary: white;
    background-color: var(--custom-primary);
}

*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}

.outline{outline: 2px solid lightgreen;}

::backdrop{
    background-color: var(--custom-primary);
    opacity: 1;
}

.bold-mf{
    font-weight: 900;
}

.tudo{
    height: 100vh;
    background-color: var(--custom-primary);
}

.loginContainer, .cadastrarContainer{
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: center;
    background-color: var(--custom-secondary);
    color: var(--custom-primary);
}

.castrar{
    font-size: 1.5ch;
    text-decoration: underline;
    cursor: pointer;
}
.castrar:active{
    color: rgb(180, 0, 0);
}

.entrar{
    background-color: var(--custom-primary);
    color: var(--custom-secondary);
}
.entrar:hover{
    background-color: rgb(180, 0, 0);
    color: rgb(230, 230, 230);
}
.entrar:active{
    background-color: rgb(255, 0, 0);
    color: var(--custom-secondary);
}
