@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --custom-primary: rgb(211, 30, 30);
    --custom-secondary: white;
    background-color: var(--custom-primary);
    color-scheme: dark light;
}

*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}

/*=======================  
   Classes de Utilidade
========================*/

.bg-cprimary{
    background-color: var(--custom-primary);
}
.clr-cprimary{
    color: var(--custom-primary);
}
.bg-csecondary{
    background-color: var(--custom-secondary);
}
.clr-csecondary{
    color: var(--custom-secondary);
}

.pointer{
    cursor: pointer;
}

.custom-img{
    height: 16rem;
    object-fit: cover;

}

/*=======================  
    Blocos principais 
========================*/

footer{
    height: 10vh;
}

.corpo{

    width: 100vw;
    min-height: 80vh;
    padding: 0.50rem 0 0.50rem 0;
}

/*=======================  
    Remoção de estilo
========================*/

.corpo a{
    text-decoration: none;
}

/*=======================  
        Card-items
========================*/

.plus{
    height: 18.35rem;
}

.card-img-overlay .container{
    display: none;
}
.card-img-overlay:hover{
    .container{
        display: flex;
    }
}

/*=======================  
      Formulário
========================*/

.playlists{
    width: 100%;
}

.enviar{
    border-radius: 5px;
}
.enviar:hover{
    background-color: darkred;
}
.enviar:active{
    background-color: var(--custom-primary);
}

/*=======================  
        Usuário
========================*/


/*=======================  
        Detalhe
========================*/

.area-de-player, .area-da-capa{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.bg-descricao{
    background-color: rgb(190, 0, 0);
}

.rodape.inativo{
    height: 10vh;
}

.rodape-ativo{
    height: 50vh;
}

.fila-videos{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    background-color: rgb(190, 0, 0);
}

.playlist-sequencia{
    display: none;
    height: 3rem;
}

.antecessor-div, .sucessor-div{
    display: none;
}