@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --custom-primary: rgb(255, 0, 0);
    --custom-secondary: white;
}

*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}

/*=======================  
   Classes de Utilidade
========================*/

.bg-cprimary{
    background-color: var(--custom-primary);
}
.clr-cprimary{
    color: var(--custom-primary);
}
.bg-csecondary{
    background-color: var(--custom-secondary);
}
.clr-csecondary{
    color: var(--custom-secondary);
}

.custom-img{
    height: 16rem;
    object-fit: cover;

}

/*=======================  
    Blocos principais 
========================*/

nav, footer{
    width: 100vw;
    width: 100dvw;
    height: 10vh;
}

.corpo{
    background-color: rgb(217, 217, 217);
    width: 100vw;
    width: 100dvw;
    min-height: 80vh;
    padding: 0.50rem 0 0.50rem 0;
}


/*=======================  
    Remoção de estilo
========================*/

.corpo a{
    text-decoration: none;
}

/*=======================  
        Card-items
========================*/

.mais{
    cursor: pointer;
}

.add-sign{
    font-size: 5rem;
    outline: 2px solid black;
}

.card-img-overlay .container{
    display: none;
}
.card-img-overlay:hover{
    .container{
        display: flex;
    }
}

/*=======================  
      Formulário
========================*/
.modal-exclusao, .menu-playlists, .menu-videos{
    position: fixed;
    inset: 25%;
    padding: 5px;
    
}

.playlists{
    width: 100%;
}

.excluir{
    display: none;
}

.enviar{
    border-radius: 5px;
}
.enviar:hover{
    background-color: darkred;
}
.enviar:active{
    background-color: var(--custom-primary);
}

/*=======================  
        Detalhe
========================*/

.player, .capa{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.bg-descricao{
    background-color: rgb(245, 0, 0)
}