@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --custom-primary-100: rgb(211, 30, 30);
    --custom-secondary-100: rgb(255, 255, 255);
    --custom-primary-120: rgb(211, 30, 30);
    --custom-primary-70: rgb(190, 0, 0);
    --custom-secondary-70: rgb(240, 240, 240);
    --custom-primary-50: rgb(139, 0, 0);
    --custom-secondary-50: rgb(220, 220, 220);
    background-color: var(--custom-primary-100);
    color-scheme: dark light;
}

*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}

/*=======================  
   Classes de Utilidade
========================*/

.bg-cprimary{
    background-color: var(--custom-primary-100);
}
.clr-cprimary{
    color: var(--custom-primary-100);
}
.bg-csecondary{
    background-color: var(--custom-secondary-100);
}
.clr-csecondary{
    color: var(--custom-secondary-100);
}

.btn-cprimary{
    background-color: var(--custom-primary-100);
    color: var(--custom-secondary-100);
    padding: 0.5rem 1rem;
}
.btn-cprimary:hover{
    background-color: var(--custom-primary-50);
    color: var(--custom-secondary-70);
}
.btn-cprimary:active{
    background-color: var(--custom-primary-120);
    color: var(--custom-secondary-100);
}

.btn-csecondary{
    background-color: var(--custom-secondary-100);
    color: var(--custom-primary-100);
    padding: 0.5rem 1rem;
}
.btn-csecondary:hover{
    background-color: var(--custom-secondary-70);
    color: var(--custom-primary-70);
}
.btn-csecondary:active{
    background-color: var(--custom-secondary-100);
    color: var(--custom-primary-70);
}

.btn-excluir{
    background-color: var(--custom-primary-70);
    color: var(--custom-secondary-100);
    padding: 0.5rem 1rem;
}
.btn-excluir:hover{
    background-color: var(--custom-primary-50);
    color: var(--custom-secondary-70);
}
.btn-excluir:active{
    background-color: var(--custom-primary-120);
    color: var(--custom-secondary-100);
}

.pointer{
    cursor: pointer;
}

.custom-img{
    height: 16rem;
    object-fit: cover;

}

/*=======================  
    Blocos principais 
========================*/

footer{
    height: 10vh;
}

.corpo{
    width: 100vw;
    min-height: 80vh;
    padding: 0.50rem 0 0.50rem 0;
}

/*=======================  
    Remoção de estilo
========================*/

.corpo a{
    text-decoration: none;
}

/*=======================  
        Card-items
========================*/

.plus{
    height: 18.35rem;
}

.card-img-overlay .container{
    display: none;
}
.card-img-overlay:hover{
    .container{
        display: flex;
    }
}

/*=======================  
      Formulário
========================*/



/*=======================  
        Usuário
========================*/


/*=======================  
        Detalhe
========================*/

.area-de-player, .area-da-capa{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.bg-descricao{
    background-color: var(--custom-primary-70);
}

.rodape.inativo{
    height: 10vh;
}

.rodape-ativo{
    height: 50vh;
}

.fila-videos, .fila-playlists{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    background-color: var(--custom-primary-70);
}

.playlist-sequencia{
    display: none;
    height: 3rem;
}

.antecessor-div, .sucessor-div{
    display: none;
}